openapi: 3.0.0
info:
  title: Together API
  description: The Together REST API. Please see https://docs.together.ai/docs/quickstart for more details.
  version: "2.0.0"
  termsOfService: https://www.together.ai/terms-of-service
  contact:
    name: Together Support
    url: https://www.together.ai/contact
servers:
  - url: https://api.together.xyz/v1
security:
  - bearerAuth: []
paths:
  /completions:
    post:
      operationId: createCompletion
      tags:
        - Completions
      summary: Creates a completion for the provided prompt and parameters.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCompletionRequest"
      responses:
        "200":
          description: OK
              
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    CreateCompletionRequest:
      type: object
      properties:
        model:
          description: &model_description |
            ID of the model to use.
          anyOf:
            - type: string
              enum: [
                "mistralai/Mixtral-8x7B-Instruct-v0.1",
                "togethercomputer/llama-2-13b-chat"
              ]
          x-oaiTypeLabel: string
        prompt:
          description: &completions_prompt_description |
            The prompt to generate a completion for, encoded as a string.
          nullable: true
          oneOf:
            - type: string
              default: ""
              example: "<s>[INST] What is the capital of France? [/INST]"
        max_tokens:
          description: &completions_max_tokens_description |
            The maximum number of new tokens that can be generated in the completion
          type: integer
          example: 16
        stop:
          description: &completions_stop_description |
           sequences where the API will stop generating further tokens. 
          nullable: true
          type: array
          items:
            type: string
          example: '["[/INST]","</s>"]'
        temperature:
          description: &completions_temperature_description |
            What sampling temperature to use, between 0 and 2. Higher values like 0.8 will make the output more diverse, while 0 will make it deterministic.
          type: number
          minimum: 0
          maximum: 2
          default: 1
          example: 0.8
          nullable: true


