openapi: 3.0.0
info:
  title: Together API
  description: The Together REST API. Please see https://docs.together.ai/docs/quickstart for more details.
  version: "2.0.0"
  termsOfService: https://www.together.ai/terms-of-service
  contact:
    name: Together Support
    url: https://www.together.ai/contact
servers:
  - url: https://api.together.xyz/v1
security:
  - ApiKeyAuth: []
paths:
  /completions:
    post:
      operationId: createCompletion
      tags:
        - Completions
      summary: Creates a completion for the provided prompt and parameters.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCompletionRequest"
      responses:
        "200":
          description: OK
              
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
  schemas:
    CreateCompletionRequest:
      type: object
      properties:
        model:
          description: &model_description |
            ID of the model to use.
          anyOf:
            - type: string
              enum: ["togethercomputer/llama-2-13b-chat"]
          x-oaiTypeLabel: string
        prompt:
          description: &completions_prompt_description |
            The prompt to generate a completion for, encoded as a string.
          nullable: true
          oneOf:
            - type: string
              default: ""
              example: "Once upon"
