openapi: 3.0.0
info:
  title: Together API
  description: The Together REST API. Please see https://docs.together.ai/docs/quickstart for more details.
  version: "2.0.0"
  termsOfService: https://www.together.ai/terms-of-service
  contact:
    name: Together Support
    url: https://www.together.ai/contact
servers:
  - url: https://api.together.xyz/v1
paths:
  /completions:
    post:
      operationId: createCompletion
      tags:
        - Completions
      summary: Creates a completion for the provided prompt and parameters.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCompletionRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCompletionResponse"
components:
  # Authentication
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
  schemas:
    CreateCompletionRequest:
      type: object
      properties:
        prompt:
          type: array
          required: true
          description:
        model:
          type: string
          required: true
          description: >
            The name of the model to be used in the inference requests.
    CreateCompletionResponse:
      type: object
      properties:
        prompt:
          type: string
        model:
          type: string
        model_owner:
          type: string
        tags:
          type: object
        num_returns:
          type: number
        output:
          $ref: '#/components/schemas/LanguageModelInferenceChoices'
        status:
          type: string
        subjobs:
          type: array
          items:
            type: string
    LanguageModelInferenceChoice:
      type: object
      properties:
        finish_reason:
          type: string
        index:
          type: number
        text:
          type: string
    LanguageModelInferenceChoices:
      type: object
      properties:
        choices:
          type: array
          items:
            $ref: '#/components/schemas/LanguageModelInferenceChoice'
        raw_compute_time:
          type: number
        result_type:
          type: string
