name: Preview Builds

on:
  push:
    branches-ignore:
      - main

jobs:
  preview:
    if: github.event.action != 'closed'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        # with:
        #   fetch-depth: 2

      - name: Run preview builds
        uses: stainless-api/upload-openapi-spec-action/preview@v1
        with:
          stainless_api_key: ${{ secrets.STAINLESS_API_KEY }}
          commit_message: ${{ github.event.head_commit.message }}
          # base_sha: ${{ github.event.pull_request.base.sha }}
          org: togethercomputer
          project: togetherai
          oas_path: openapi.yaml